* {
  font-family: "Trebuchet MS",
    "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans",
    Arial, monospace;
  box-sizing: border-box;
  background-color: whitesmoke;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#timer {
  margin-right: 10px;
  font-weight: bold;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
}

p {
  margin-bottom: 10px;
}

#instruction {
  font-size: 20px;
}

#accuracy {
  font-size: 20px;
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  line-height: 1.5;
}

main {
  text-align: center;
  justify-content: center;
  flex: 1 0 auto;
  margin-left: 200px;
  margin-right: 200px;
}
footer {
  text-align: center;
}

.questions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
/* Hides the bullet points from listings */
ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;
  margin-top: 10px;
}

li {
  margin-bottom: 10px;
}

/* Displays only the intro page and hide other sections */
.questions,
.submit,
.highscore-page,
#accuracy {
  display: none;
}

.button {
  background: purple;
  color: white;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.button:hover {
  background-color: rgb(205, 245, 247);
  color: black;
}

/* A media query for max-width: 690px */
@media (max-width: 690px) {
  .button {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
}
/* A media query for max-width: 500px */
@media (max-width: 500px) {
  .button {
    font-size: 0.8rem;
  }
}